<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Compra tu producto</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Buscar Producto</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="input-group input-group-sm">
                            <input type="text" [(ngModel)]="textoBuscar" placeholder="Buscar Producto..." class="form-control">
                            <span class="input-group-append">
                                  <button type="button" (click)="buscarProducto()" class="btn btn-danger btn-flat">Buscar</button>
                                </span>
                        </div>

                        <div *ngIf="!listProductos.length">
                            <h3 style="color: #78838e;margin-top: 115px;margin-bottom: 115px;text-align: center;"><i class="fa fa-search"></i> Buscar Productos...</h3>
                        </div>

                        <div class="row mt-2 scrollProduct">
                            <div class="row" *ngIf="listProductos.length" style="display: flex;">
                                <div *ngFor="let item of listProductos;let i=index" class="col-xl-12 col-sm-6 col-lg-6 col-12 mb-2">
                                    <div class="cardCarCustom  border-danger mb-0">
                                        <div class="card-body" style="padding:0px;text-align:center;width: 100%;">
                                            <h6 style="margin-bottom:4px;">{{item.nombre}}</h6>
                                        </div>
                                        <hr style="margin: 0;padding: 0;">
                                        <img src="{{item.direccionFoto}}" height="90px" width="90px" class="logo mt-1" alt="Logo">
                                        <ul class="list-group list-group-flush ">
                                            <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                <span style="padding:5px;font-size:12px" class="badge badge-pill bg-danger float-right">{{item.precioVenta}} Bs.</span> Precio
                                            </li>
                                            <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                <span style="padding:5px;font-size:12px" class="badge badge-pill bg-danger float-right">{{item.stock}}</span> Stock
                                            </li>
                                            <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                <span style="padding:5px;font-size:12px" class="badge badge-pill bg-danger float-right">{{item.stock}} Kg.</span> Peso
                                            </li>
                                        </ul>
                                        <button type="button" (click)="agregarCarrito(item,i)" class="btn btn-block btn-outline-danger btn-xs mt-1">
                                            <i class="fas fa-arrow-circle-right"></i> Agregar al carrito
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-8">
                <!-- Custom Tabs -->
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3"><i class="fa fa-cart-plus"></i> Ordenes Realizadas</h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="#tab_0" data-toggle="tab">Carrito</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_1" data-toggle="tab">Estado de mis productos</a></li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_0">
                                <div *ngIf="!listCarrito.length">
                                    <h3 style="color: #78838e;margin-top: 115px;margin-bottom: 115px;text-align: center;"><i class="fa fa-cart-plus"></i> Sus productos comprados se visualizaran en este lugar...</h3>
                                </div>
                                <div class="row" *ngIf="listCarrito.length" style="display: flex;">
                                    <div *ngFor="let item of listCarrito;let i=index" class="col-xl-4 col-sm-6 col-lg-4 col-12">
                                        <div class="cardCarCustom  border-danger mb-3">
                                            <div class="card-body" style="padding:0px;text-align:center;width: 100%;">
                                                <h6 style="margin-bottom:4px;">{{item.nombre}}</h6>
                                            </div>
                                            <hr style="margin: 0;padding: 0;">
                                            <img src="{{item.direccionFoto}}" height="90px" width="90px" class="logo mt-1" alt="Logo">
                                            <ul class="list-group list-group-flush mt-2">
                                                <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                    <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.cantidad}}</span>
                                                    <i class="fa fa-asterisk"></i> Cantidad
                                                </li>
                                                <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                    <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.subTotal}} Bs</span>
                                                    <i class="fa fa-asterisk"></i> Sub-Total
                                                </li>
                                            </ul>
                                            <div class="footer mt-2 mb-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="button" (click)="agregarCarrito(item,i)" class="btn btn-block btn-outline-warning btn-xs">
                                                                <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" (click)="quitar(i)" class="btn btn-block btn-outline-danger btn-xs">
                                                                <i class="fa fa-minus"></i> 
                                                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" (click)="eliminar(i)" class="btn btn-block btn-outline-danger btn-xs">
                                                    <i class="fa fa-trash-alt"></i> Eliminar Producto
                                                </button>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-danger btn-block btn-sm" (click)="Ordenar()"><i class="fa fa-money-bill-wave"></i> Ordenar</button>

                                </div>

                            </div>
                            <div class="tab-pane" id="tab_1">
                                <div *ngIf="!listEstadoProductos.length">
                                    <h3 style="color: #78838e;margin-top: 115px;margin-bottom: 115px;text-align: center;"><i class="fa fa-cart-plus"></i> Sin Productos ordenados...</h3>
                                </div>
                                <div class="scrollProduct">
                                    <div class="row" style="display: flex;">
                                        <div *ngFor="let item of listEstadoProductos;let i=index" class="col-xl-4 col-sm-6 col-lg-4 col-12">
                                            <div class="cardCarCustom  border-danger mb-3">
                                                <div class="card-body" style="padding:0px;text-align:center;width: 100%;">
                                                    <h6 style="margin-bottom:4px;">{{item.nombreProducto}}</h6>
                                                </div>
                                                <hr style="margin: 0;padding: 0;">
                                                <img src="{{item.direccionFoto}}" height="90px" width="90px" class="logo mt-1" alt="Logo">
                                                <ul class="list-group list-group-flush mt-2">
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.numeroPedido}}</span> Nº pedido
                                                    </li>
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.nombreSucursal}}</span> Sucursal
                                                    </li>
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.cantidad}}</span> Cantidad
                                                    </li>
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.subTotal}} Bs</span> Sub-Total
                                                    </li>
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.fecha | date:'dd/MM/YYYY hh:mm:ss'}}</span> Fecha
                                                    </li>
                                                    <li class="list-group-item" style="padding:0.2rem;font-size:12px">
                                                        <span style="padding:3px;font-size:11px" class="badge badge-pill bg-danger float-right">{{item.estado}}</span> Estado
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- ./card -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->