<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">

        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- <h1 class="text-muted" style="text-align: center;margin-top: 200px;">Bienvenido al Sistema...</h1> -->
        <h1 class="text-muted" style="text-align: center;margin-top: 50px;">Empresa distribuidora y venta de carnes | Subeeffri S.A.</h1>
        <img class="logo" src="assets/img/LogoSuBeeFfri.jpeg">
    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->